﻿@using form_template_mvc.Library.Form;
@model form_template_mvc.ViewComponents.FormGroupModel;

<div class="card">
    <div class="card-header">
        <h5>@Model.Title</h5>
    </div>
    <div class="card-body">
        @foreach (var field in Model.Data)
        {
            switch (field.GetInputType())
            {
                case InputModel.InputType.TEXT:
                    <partial name="_TextInput" model="field" />
                    break;
                case InputModel.InputType.DATE:
                    <partial name="_DateInput" model="field" />
                    break;
                case InputModel.InputType.SELECT:
                    <partial name="_SelectInput" model="field" />
                    break;
                case InputModel.InputType.INVALID:
                default:
                    @*At least show something to say its broken*@
                    <p>Nope, that's not going to work. Use a valid input type!</p>
                    break;
            }
        }
    </div>
</div>