﻿@using form_template_mvc.Library.Form;
@model InputModel;
@*
    this should be a DateInput type but the example admin form doesn't allow setting things like start,
    end dates for the input attrs. So just leaving as a TextInput cast for now.
*@
@{
    TextInput dateInput = (TextInput)Model;
}
<div class="form-group">
    <label for="@dateInput.GetID()">@dateInput.GetLabelText()</label>
    <input class="form-control" id="@dateInput.GetID()" type="date" name="@dateInput.GetNameAttribute()" @(dateInput.IsRequired() ? "required" : "") />
</div>