﻿@using form_template_mvc.Library.Form;
@model InputModel;
@{
    SelectInput selectInput = (SelectInput)Model;
}
<div class="form-group">
    <label for="@selectInput.GetID()">@selectInput.GetLabelText()</label>
    <select class="form-control" id="@selectInput.GetID()" name="@selectInput.GetNameAttribute()">
        @*Loop from the SelectInput options*@
        @foreach (var item in @selectInput.GetOptions())
        {
            <option value="@item.Key">@item.Value</option>
        }
    </select>
</div>