﻿@using form_template_mvc.Library.Form;
@model InputModel;
@{
    TextInput textInput = (TextInput)Model;
}
<div class="form-group">
    <label for="@textInput.GetID()">@textInput.GetLabelText()</label>
    <input class="form-control" id="@textInput.GetID()" type="text" name="@textInput.GetNameAttribute()" @(textInput.IsRequired() ? "required" : "") />
</div>