﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<form_template_mvc.Models.FormData>;


<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-5">Form Field Template Example</h1>
    </div>
</div>
<form>
    @*
        Group inputs by a specific topic which in this case is applicants, but could be property/address etc
        and render the groups inputs in a dedicated container.

        For this example i'll just use a bootstrap card with a title.'
    *@
    <div class="col-6 offset-md-3 pt-5">
        @await Component.InvokeAsync("FormGroup", new { fields = Model, group = "applicant", title = "Applicant" })
    </div>
</form>